body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header {
  position: relative;
  min-height: 460px;
  margin-bottom: 275px;
  background: url("../img/iphone-hand-mobile@1x.png") 50% 120% no-repeat, url("../img/bg-back-mobile@1x.jpg") 50% 0% no-repeat;
  background-size: 314px, cover;
}
.page-header__top {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
}
@media (min-width: 700px) {
  .page-header {
    min-height: 730px;
    background: url("../img/iphone-hand-tablet@1x.png") 50% 100% no-repeat, url("../img/bg-back-tablet@1x.jpg") 50% 0% no-repeat;
    background-size: 700px, cover;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .page-header {
    min-height: 850px;
    background: url("../img/iphone-hand-tablet@1x.png") 65% 100% no-repeat, url("../img/bg-back-desktop@1x.jpg") 50% 0% no-repeat;
    background-size: 820px, cover;
  }
}
.main-nav {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.main-nav--closed {
  background: rgba(0, 0, 0, 0.3);
}
.main-nav__header {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  padding: 0 20px;
}
@media (min-width: 700px) {
  .main-nav__header {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .main-nav__header {
    width: 940px;
  }
}
.main-nav__logo {
  height: 23px;
}
.main-nav__logo img {
  width: 75px;
  height: 23px;
}
.main-nav--closed .main-nav__btn {
  width: 50px;
  height: 25px;
  font-size: 0;
  margin: 0;
  padding: 0;
  background: url("../img/icon-menu-burger.svg") no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}
.main-nav--closed .main-nav__list {
  display: none;
}
.main-nav--opened {
  animation: menu 0.6s ease;
  background: #283645;
}
@keyframes menu {
  0% {
    transform: translateY(-361px);
  }
  100% {
    transform: translateY(0);
  }
}
.main-nav--opened .main-nav__btn {
  width: 50px;
  height: 25px;
  font-size: 0;
  margin: 0;
  padding: 0;
  background: url("../img/icon-menu-cross.svg") 100% 0% no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}
.main-nav--opened .main-nav__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav--opened .main-nav__link {
  display: block;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.main-nav--opened .main-nav__link:hover {
  color: #d22856;
}
.main-nav--opened .main-nav__link:active {
  color: rgba(210, 40, 86, 0.3);
}
@media (min-width: 700px) {
  .main-nav__header {
    padding: 20px 0;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    width: 280px;
    margin: 0 auto;
    position: static;
    display: flex;
    justify-content: space-between;
    background: none;
  }
  .main-nav__header {
    padding: 20px 0;
  }
  .main-nav .main-nav__btn {
    display: none;
  }
  .main-nav .main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .main-nav .main-nav__link {
    position: relative;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: none;
    text-decoration: none;
    color: #ffffff;
    border: none;
  }
  .main-nav .main-nav__link::after {
    content: "";
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: -15px;
    width: 0;
  }
  .main-nav .main-nav__link:hover::after {
    right: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transition: 0.3s;
  }
  .main-nav .main-nav__header {
    width: 150px;
    margin: 0;
  }
}
@media (min-width: 1200px) and (min-width: 700px) {
  .main-nav {
    width: 620px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .main-nav {
    width: 940px;
  }
}
.intro {
  position: relative;
  top: 460px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  background: #1d2631;
}
.intro__slogan {
  display: none;
}
.intro__downloads {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 280px;
}
.intro__downl-app {
  display: block;
  width: 280px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  padding: 15px 0;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 3px solid #ffffff;
  border-radius: 50px;
  box-sizing: border-box;
}
.intro__downl-app:hover {
  color: #d22856;
  background: #ffffff;
}
.intro__downl-app:active {
  color: rgba(210, 40, 86, 0.3);
}
.intro__app {
  display: block;
  width: 50px;
  height: 60px;
  font-size: 0;
  margin-bottom: 10px;
}
.intro__app--apple {
  background: url("../img/logo-apple.svg") no-repeat;
}
.intro__app--android {
  background: url("../img/logo-android.svg") 0% 50% no-repeat;
}
.intro__app--windows {
  background: url("../img/logo-microsoft.svg") 0% 50% no-repeat;
}
.intro__descr {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
@media (min-width: 700px) {
  .intro {
    width: 280px;
    margin: 0 auto;
    min-height: 625px;
    position: static;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    background: none;
  }
  .intro__wrapper {
    position: relative;
    top: 100px;
    width: 300px;
  }
  .intro__slogan {
    display: block;
    font-size: 40px;
    font-weight: 300;
    padding: 0 30px;
    margin-bottom: 30px;
  }
  .intro__downloads {
    width: 300px;
  }
  .intro__downl-app {
    width: 300px;
    margin-bottom: 40px;
  }
  .intro__app {
    margin-bottom: 20px;
  }
  .intro__descr {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}
@media (min-width: 700px) and (min-width: 700px) {
  .intro {
    width: 620px;
  }
}
@media (min-width: 700px) and (min-width: 1200px) {
  .intro {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .intro {
    min-height: 745px;
    position: static;
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    align-items: center;
    padding: 0;
    background: none;
  }
  .intro__wrapper {
    position: static;
  }
  .intro__slogan {
    display: block;
    font-size: 50px;
    font-weight: 300;
    padding: 0 20px;
    margin-bottom: 50px;
  }
  .intro__downl-app {
    font-size: 21px;
    margin-bottom: 65px;
  }
  .intro__app {
    margin-bottom: 40px;
  }
}
.offers {
  text-align: center;
  padding: 0 40px;
  padding-top: 45px;
  padding-bottom: 30px;
}
.offers__text {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
}
@media (min-width: 700px) {
  .offers {
    padding-top: 60px;
    padding-bottom: 45px;
  }
  .offers__text {
    font-size: 40px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .offers {
    text-align: center;
    padding: 0 40px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .offers__text {
    font-size: 50px;
  }
}
.service {
  position: relative;
  min-height: 785px;
  text-align: center;
  background: url("../img/service-iphone.png") 50% 110% no-repeat, url("../img/bg-triangle-white.svg") 50% 0% no-repeat, #f2f2f2;
  background-size: 160px, 100%;
}
.service__item {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .service__item {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .service__item {
    width: 940px;
  }
}
.service__item--first {
  padding-top: 80px;
}
.service__title {
  display: inline-block;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.service__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  margin: 0;
  margin-bottom: 25px;
}
.service__item--third .service__text:last-child {
  margin-bottom: 0;
}
@media (min-width: 700px) {
  .service {
    display: flex;
    min-height: 485px;
    background: url("../img/bg-triangle-white.svg") 50% 0% no-repeat, #f2f2f2;
    background-size: 100%;
  }
  .service__wrapper {
    width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: url("../img/iphone-service-table.png") 0% -10% no-repeat;
  }
  .service__item {
    width: 310px;
    text-align: left;
    margin: 0;
  }
}
@media (min-width: 700px) and (min-width: 700px) {
  .service__wrapper {
    width: 620px;
  }
}
@media (min-width: 700px) and (min-width: 1200px) {
  .service__wrapper {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .service {
    display: flex;
    min-height: 595px;
    background: url("../img/bg-triangle-white.svg") 50% 0% no-repeat, #f2f2f2;
    background-size: 100%;
  }
  .service__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: url("../img/iphone-service-desktop.png") 0% 0% no-repeat, url("../img/iphone-service-desktop-2.png") 50% 0% no-repeat, url("../img/iphone-service-desktop-3.png") 100% 0% no-repeat;
  }
  .service__item {
    width: 300px;
    text-align: center;
    margin-top: 350px;
  }
  .service__item--first {
    padding: 0;
  }
  .service__title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .service__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
    padding: 0 18px;
  }
}
.round-diagram {
  display: none;
}
@media (min-width: 700px) {
  .round-diagram {
    display: block;
  }
  .round-diagram__wrapper {
    display: flex;
    justify-content: flex-end;
    width: 280px;
    margin: 0 auto;
    background: url("../img/round-diagram-tablet.png") 0% 40% no-repeat;
  }
  .round-diagram__text {
    width: 300px;
  }
  .round-diagram__title {
    display: inline-block;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    padding-top: 90px;
    padding-right: 130px;
    margin-bottom: 15px;
  }
  .round-diagram__descr {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #283645;
    margin: 0;
    margin-bottom: 10px;
  }
  .round-diagram__link {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #d22856;
    padding-bottom: 90px;
  }
}
@media (min-width: 700px) and (min-width: 700px) {
  .round-diagram__wrapper {
    width: 620px;
  }
}
@media (min-width: 700px) and (min-width: 1200px) {
  .round-diagram__wrapper {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .round-diagram {
    display: block;
    background: #f2f2f2;
  }
  .round-diagram__wrapper {
    display: flex;
    justify-content: flex-end;
    background: url("../img/round-diagram-desktop.png") 0% 30% no-repeat;
  }
  .round-diagram__text {
    width: 570px;
  }
  .round-diagram__title {
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    padding-top: 110px;
    margin-bottom: 25px;
  }
  .round-diagram__descr {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
    margin: 0;
    margin-bottom: 35px;
  }
  .round-diagram__link {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #d22856;
    padding-bottom: 110px;
  }
}
.review-slider {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 80px;
  text-align: center;
}
@media (min-width: 700px) {
  .review-slider {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .review-slider {
    width: 940px;
  }
}
.review-slider__toggle {
  display: none;
}
.review-slider__controls {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 140px;
  margin: 0 auto;
  margin-left: -70px;
}
.review-slider__control {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background: #f2f2f2;
  margin-right: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.review-slider__control:hover {
  background: #8e959d;
}
.review-slider__control:active {
  opacity: 0.3;
}
.review-slider__control:last-child {
  margin-right: 0;
}
#review-slider-1:checked ~ .review-slider__controls .review-slider__control[for="review-slider-1"],
#review-slider-2:checked ~ .review-slider__controls .review-slider__control[for="review-slider-2"],
#review-slider-3:checked ~ .review-slider__controls .review-slider__control[for="review-slider-3"] {
  border: 3px solid #283645;
}
#review-slider-1:checked ~ .review-slider__controls .review-slider__control[for="review-slider-1"]:hover,
#review-slider-2:checked ~ .review-slider__controls .review-slider__control[for="review-slider-2"]:hover,
#review-slider-3:checked ~ .review-slider__controls .review-slider__control[for="review-slider-3"]:hover {
  background: none;
}
.review-slider__slide {
  margin: 0;
}
.review-slider__author {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}
.review-slider__author-info {
  display: none;
}
.review-slider__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  margin: 0;
  margin-bottom: 15px;
}
.review-slider__slide {
  display: none;
}
#review-slider-1:checked ~ .review-slider__slides .review-slider__slide:nth-child(1),
#review-slider-2:checked ~ .review-slider__slides .review-slider__slide:nth-child(2),
#review-slider-3:checked ~ .review-slider__slides .review-slider__slide:nth-child(3) {
  display: block;
}
@media (min-width: 700px) {
  #review-slider-1:checked ~ .review-slider__slides .review-slider__slide:nth-child(1),
  #review-slider-2:checked ~ .review-slider__slides .review-slider__slide:nth-child(2),
  #review-slider-3:checked ~ .review-slider__slides .review-slider__slide:nth-child(3) {
    display: flex;
    flex-direction: column;
  }
  .review-slider {
    padding-bottom: 60px;
  }
  .review-slider__controls {
    bottom: 15px;
  }
  .review-slider__author {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    order: 3;
  }
  .review-slider__author-info {
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    margin: 0;
    order: 4;
  }
  .review-slider__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .review-slider {
    padding-top: 190px;
    padding-bottom: 40px;
    background: url("../img/quotes.png") 50% 17% no-repeat;
  }
  .review-slider__controls {
    bottom: 0;
  }
  .review-slider__author {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .review-slider__text {
    width: 720px;
    font-size: 18px;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .review-slider__author-info {
    font-size: 18px;
    line-height: 30px;
  }
}
.price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 95px;
  margin: 0 auto;
  text-transform: uppercase;
  background: url(../img/bg-triangle-white.svg) 50% 0% no-repeat #f2f2f2;
  background-size: 100%;
  overflow: hidden;
}
@media (min-width: 700px) {
  .price {
    padding-bottom: 65px;
  }
}
@media (min-width: 1200px) {
  .price {
    padding-bottom: 95px;
  }
}
.price-table {
  position: relative;
  left: 50%;
  width: 840px;
  padding-top: 90px;
  margin-left: -420px;
  overflow: hidden;
  border-collapse: collapse;
}
.price-table thead {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.price-table__header {
  position: relative;
  width: 276px;
  padding: 20px 0;
  background: #283645;
  border-right: 2px solid #e5e5e5;
}
.price-table__header--flag::before {
  content: "Хит";
  position: absolute;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  top: 9px;
  left: 10px;
  z-index: 2;
  transform: rotate(-45deg);
}
.price-table__header--flag::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 73px;
  background: url("../img/bg-hit.svg") no-repeat;
}
.price-table__header--empty {
  display: none;
}
.price-table__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.price-table__cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.price-table__service {
  width: 276px;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  padding: 15px 20px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
}
.price-table__service-name {
  display: block;
}
.price-table__service-name--yes {
  background: url("../img/icon-yes.png") 100% 50% no-repeat;
}
.price-table__service-name--no {
  background: url("../img/icon-no.png") 100% 50% no-repeat;
}
.price-table__service:last-child {
  display: none;
}
@media (min-width: 700px) {
  .price-table {
    width: 280px;
    position: static;
    margin: 0;
    margin: 0 auto;
  }
  .price-table__header {
    width: 155px;
  }
  .price-table__header--empty {
    display: table-row;
  }
  .price-table__title {
    font-size: 16px;
  }
  .price-table__cost {
    font-size: 18px;
  }
  .price-table__service {
    width: 152px;
    text-transform: none;
    padding: 10px 15px;
  }
  .price-table__service:last-child {
    display: table-cell;
  }
  .price-table__service-name {
    font-size: 0;
  }
  .price-table__service-name--yes {
    background: url("../img/icon-yes.png") 50% 50% no-repeat;
  }
  .price-table__service-name--no {
    background: url("../img/icon-no.png") 50% 50% no-repeat;
  }
}
@media (min-width: 700px) and (min-width: 700px) {
  .price-table {
    width: 620px;
  }
}
@media (min-width: 700px) and (min-width: 1200px) {
  .price-table {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .price {
    padding-top: 150px;
  }
}
.contacts {
  padding-top: 45px;
  padding: 25px;
}
.contacts__info {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #d22856;
}
@media (min-width: 700px) {
  .contacts__info {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .contacts__info {
    width: 940px;
  }
}
.contacts__info span {
  display: block;
}
.contacts__descr {
  color: #283645;
  margin-bottom: 40px;
}
.contacts__text {
  font-size: 18px;
  font-weight: 700;
  color: #283645;
  margin-bottom: 5px;
}
.contacts__link {
  display: block;
  text-decoration: none;
  margin-bottom: 25px;
  cursor: pointer;
}
.contacts__link:hover {
  color: #000000;
  text-decoration: underline;
}
@media (min-width: 700px) {
  .contacts {
    padding-top: 55px;
    padding-bottom: 25px;
  }
  .contacts__info {
    flex-direction: row;
  }
  .contacts__descr {
    font-size: 40px;
    padding: 0 20%;
    margin-bottom: 50px;
  }
  .contacts__block {
    flex-grow: 1;
  }
  .contacts__text {
    margin-bottom: 10px;
  }
  .contacts__link {
    margin-bottom: 50px;
  }
  .contacts__street {
    padding: 0 30%;
  }
}
@media (min-width: 1200px) {
  .contacts {
    padding-top: 75px;
    padding-bottom: 25px;
  }
  .contacts__info {
    flex-direction: row;
    justify-content: space-between;
  }
  .contacts__descr {
    font-size: 50px;
    padding: 0 20%;
    margin-bottom: 65px;
  }
  .contacts__block {
    width: 300px;
    flex-grow: 0;
  }
  .contacts__block:nth-child(3) {
    order: 1;
  }
  .contacts__text {
    margin-bottom: 25px;
  }
  .contacts__link {
    margin-bottom: 50px;
  }
  .contacts__street {
    padding: 0 10%;
  }
}
